<app-nav-bar
  [opened]="menuOpened"
  (menuToggle)="setMenuState($event)"
></app-nav-bar>

<div class="content-fluid">
  <app-full-banner></app-full-banner>

  <app-list-titles
    title="Continuar Assistindo como Juliano"
    [list]="listTitlesFavorite"
  ></app-list-titles>
  <app-list-titles title="Series" [list]="listTitlesSeries"></app-list-titles>
  <app-list-titles title="Filmes" [list]="listTitlesMovies"></app-list-titles>
  <app-list-titles title="Animes" [list]="listTitlesAnimes"></app-list-titles>
</div>

<app-footer></app-footer>

<div class="backdrop" (click)="closeMenu()" *ngIf="menuOpened"></div>

<router-outlet></router-outlet>
