<div class="row no-gutters">
  <div class="col-12 full-banner text-white">
    <div class="p-4 d-flex justify-content-start h-100">
      <div class="container">
        <h1 class="h3">Sonic 2 - O Filme</h1>
        <small class="d-flex my-2">
          <span class="mr-3">2022 |</span>
          <span class="mr-3">| Livre |</span>
          <span>| 162min</span>
        </small>
        <p class="d-none d-lg-block">
          Após conseguir se estabelecer em Green Hills, Sonic está pronto para
          mais liberdade e quer provar que tem o necessário para ser um herói de
          verdade. Seu teste virá quando Tom e Maddie concordam em deixá-lo em
          casa enquanto saem de férias. Mas para a infelicidade do ouriço, a
          data acaba coincidindo com o retorno do Dr. Robotnik, dessa vez com um
          novo parceiro, Knuckles....
        </p>
        <a
          href="https://www.netflix.com/br/title/81511780"
          class="btn btn-primary text-uppercase font-weight-bold"
          >Assistir</a
        >
      </div>
    </div>
  </div>
</div>
